<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    
    <h1>
        <%= title %>
    </h1>
    <div class="message-board">
    <a href="/new" class="button">Add message</a>
    <ul>
        <% messages.forEach((message)=> { %>
            <%- include('messages', {message:message, index:message.id}) %>
                <% }) %>
    </ul>
    </div>
</body>