<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<div class="message-card">
    <h2>
        <%= message.username %>
        <%- console.log() %>
    </h2>
    <p class="message-added">
        <%= message.posted_at %>
    </p>
    <p class="message-text">
        <%= message.message %>
    </p>
</div>
<a href="/" class="button">Back</a>