<a href="/message/<%= index %>">
    <div class="message-card">
        <li>
            <h2>
                <%= message.user %>
            </h2>

            <p class="message-text">
                <%= message.text %>
            </p>
        </li>
    </div>
</a>