<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<div class="message-card">
    <h2>
        <%= message.user %>
    </h2>
    <p class="message-added">
        <%= message.added %>
    </p>
    <p class="message-text">
        <%= message.text %>
    </p>
</div>
<a href="/" class="button">Back</a>